<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byeongjo.fapp.address.AddressDao">

	<resultMap type="com.byeongjo.fapp.address.AddressDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			seq
		    ,isMain
		    ,addressCategoty
		    ,zip
		    ,address
		    ,addressBook_seq
		from
			address
		where 1=1
			and delNy = 0
		ORDER BY seq asc
		    ;
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		select
			seq
		    ,isMain
		    ,addressCategoty
		    ,zip
		    ,address
		    ,addressBook_seq
		from
			address
		where 1=1
			and seq = #{seq}
		ORDER BY seq asc
		    ;
	</select>
	<insert id="insert">
		insert into address (
			isMain
		    ,addressCategoty
		    ,zip
		    ,address
		    ,addressBook_seq
		) values (
			#{isMain},
			#{addressCategoty},
			#{zip},
			#{address},
			#{addressBook_seq}
		)			
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>	
	<update id="update">
		update address set
			isMain = #{isMain}
		    ,addressCategoty = #{addressCategoty}
		    ,zip = #{zip}
		    ,address = #{address}
		    ,addressBook_seq = #{addressBook_seq}
		 where
		 	seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from
			address
		where
			seq = #{seq}
	</delete>
	
	<update id="uelete">
		update address set
			delNy = 1
		where
			seq = #{seq}
	</update>
</mapper>