<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byeongjo.fapp.company.CompanyDao">

	<resultMap type="com.byeongjo.fapp.company.CompanyDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			seq
		    ,isMain
		    ,company
		    ,department
		    ,positions
		    ,addressBook_seq
		from
			company
		where 1=1
			and delNy = 0
		order by seq asc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			seq
		    ,isMain
		    ,company
		    ,department
		    ,positions
		    ,addressBook_seq
		from
			company
		where 1=1
			and seq = #{seq}
		order by seq asc
	</select>	
	<insert id="insert">
		insert into company (
			isMain
		    ,company
		    ,department
		    ,positions
		    ,addressBook_seq
		) values (
			#{isMain},
			#{company},
			#{department},
			#{positions},
			#{addressBook_seq}
		)			
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
		update company set
			isMain = #{isMain}
		    ,company = #{company}
		    ,department = #{department}
		    ,positions = #{positions}
		    ,addressBook_seq = #{addressBook_seq}
	    where
	    	seq = #{seq}
	</update>
	<delete id="delete">
		delete from
			company
		where
			seq = #{seq}
	</delete>
	<update id="uelete">
		update company set
			delNy = 1
		where
			seq = #{seq}
	</update>
</mapper>