<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byeongjo.fapp.commune.CommuneDao">

	<resultMap type="com.byeongjo.fapp.commune.CommuneDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			seq
		    ,commune		    
		from
			commune
		where 1=1
			and delNy = 0
		order by seq asc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			seq
		    ,commune
		from
			commune
		where 1=1
			and seq = #{seq}		
	</select>
	
	<insert id="insert">
		insert into commune (
			commune
			,delNy
		) values (
			#{commune}
			,0
		)			
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update commune set
			commune = #{commune}
		where 
			seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from 
			commune
		where
			seq = #{seq}
	</delete>
	
	<update id="uelete">
		update commune set
			delNy = 1
		where 
			seq = #{seq}
	</update>
</mapper>