<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byeongjo.fapp.homepage.HomepageDao">

	<resultMap type="com.byeongjo.fapp.homepage.HomepageDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			seq
		    ,isMain
		    ,homepage
		    ,addressBook_seq
		from
			homepage
		where 1=1
			and delNy = 0
		order by seq asc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			seq
		    ,isMain
		    ,homepage
		    ,addressBook_seq
		from
			homepage
		where 1=1
			and seq = #{seq}
		order by seq asc
	</select>
	<insert id="insert">
		insert into homepage (
			isMain
		    ,homepage
		    ,addressBook_seq
		) values (
			#{isMain},
			#{homepage},
			#{addressBook_seq}
		)			
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
		update homepage set
			isMain = #{isMain}
		    ,homepage = #{homepage}
		    ,addressBook_seq = #{addressBook_seq}
	    where
	    	seq = #{seq}
	</update>
	<delete id="delete">
		delete from
			homepage
		where
			seq = #{seq}
	</delete>
	<update id="uelete">
		update homepage set
			delNy = 1
		where
			seq = #{seq}
	</update>
</mapper>