<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byeongjo.fapp.ive.NameTelDao">

	<resultMap type="com.byeongjo.fapp.ive.NameTelDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    company,
		    department,
		    positions,
		    addressBook_seq
		FROM
			company
	</select>
</mapper>