<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>email</td>
		<td>addressBook_seq</td>
	</tr>
	<tr>
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.isMain}"></td>
		<td th:text = "${item.email}"></td>
		<td th:text = "${item.addressBook_seq}"></td>
	</tr>
</table>
<a href="/email/emailXdmList">목록</a>
<a th:href="@{/email/emailXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/email/emailXdmUele(seq=${item.seq})}" id="uelete">업제</a>
<a th:href="@{/email/emailXdmMfom(seq=${item.seq})}">수정</a>
<script type="text/javascript">
document.getElementById("uelete").onclick = function() {
	if(confirm("uelete?")) {
		
	} else {
		return false
	}
}
document.getElementById("delete").onclick = function() {
	if(confirm("delete?")) {
		
	} else {
		return false
	}
}
</script>
</body>
</html>