<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>snsCategory</td>
		<td>sns</td>
		<td>addressBook_seq</td>
	</tr>
	<tr th:each ="list : ${list}">
		<td th:text = "${list.seq}"></td>
		<td th:text = "${list.isMain}"></td>
		<td th:text = "${list.snsCategory}"></td>
		<td><a th:href="@{/sns/snsXdmView(seq=${list.seq})}" th:text="${list.sns}"></a></td>
		<td th:text = "${list.addressBook_seq}"></td>
	</tr>
</table>
</body>
</html>