<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>snsCategory</td>
		<td>sns</td>
		<td>addressBook_seq</td>
	</tr>
	<tr>
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.isMain}"></td>
		<td th:text = "${item.snsCategory}"></td>
		<td th:text = "${item.sns}"></td>
		<td th:text = "${item.addressBook_seq}"></td>
	</tr>
</table>
<a href="/sns/snsXdmList">목록</a>
<a href="">삭제</a>
<a th:href="@{/sns/snsXdmMfom(seq=${item.seq})}">수정</a>

</body>
</html>