<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>company</td>
		<td>department</td>
		<td>positions</td>
		<td>addressBook_seq</td>
	</tr>
	<tr>
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.isMain}"></td>
		<td th:text = "${item.company}"></td>
		<td th:text = "${item.department}"></td>
		<td th:text = "${item.positions}"></td>
		<td th:text = "${item.addressBook_seq}"></td>
	</tr>
</table>
<a href="/company/companyXdmList">목록</a>
<a href="">삭제</a>
<a th:href="@{/company/companyXdmMfom(seq=${item.seq})}">수정</a>
 
</body>
</html>