<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/homepage/homepageXdmInst" method="post" id="form">
	isMain: <input type="text" name="isMain" id="isMain">
	homepage: <input type="text" name="homepage" id="homepage" placeholder="홈페이지 입력">
	addressBook_seq: <input type="text" name="addressBook_seq" id="addressBook_seq">
	<button type="button" id="btnsave">저장</button>
</form>
<script type="text/javascript">

	document.getElementById("btnsave").onclick = function() {
		document.getElementById("form").submit();
	}
		
</script>

</body>
</html>