<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>pic</td>
		<td>isFavorite</td>
		<td>honorific</td>
		<td>lastName</td>
		<td>middleName</td>
		<td>firstName</td>
		<td>appellation</td>
		<td>naverId</td>
		<td>nickname</td>
		<td>memo</td>
	</tr>
	<tr>
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.pic}"></td>
		<td th:text = "${item.isFavorite}"></td>
		<td th:text = "${item.honorific}"></td>
		<td th:text = "${item.lastName}"></td>
		<td th:text = "${item.middleName}"></td>
		<td th:text = "${item.firstName}"></td>
		<td th:text = "${item.appellation}"></td>
		<td th:text = "${item.naverId}"></td>
		<td th:text = "${item.nickname}"></td>
		<td th:text = "${item.memo}"></td>
	</tr>
</table>
<a href="/addressbook/addressbookXdmList">목록</a>
<a href="">삭제</a>
<a th:href="@{/addressbook/addressbookXdmMfom(seq=${item.seq})}">수정</a>

</body>
</html>