<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/addressbook/addressbookXdmUpdt" method="post" id="form">
	<input type="hidden" name="seq" th:value="${item?.seq}">
	seq: <input type="text" name="seq" id="seq" maxlength="10" disabled="disabled" th:value="${item?.seq}">
	lastName: <input type="text" name="lastName" id="lastName" placeholder="성 입력" th:value="${item?.lastName}">
	firstName: <input type="text" name="firstName" id="firstName" placeholder="명 입력" th:value="${item?.firstName}">
	nickname: <input type="text" name="nickname" id="nickname" placeholder="별명 입력" th:value="${item?.nickname}">
	memo: <input type="text" name="memo" id="memo" placeholder="메모 입력" th:value="${item?.memo}">
	<button type="button" id="btnsave">저장</button>
</form>
<script type="text/javascript">

	document.getElementById("btnsave").onclick = function() {
		alert("asd");
	}
	

	document.getElementById("btnsave").onclick = function() {
		document.getElementById("form").submit();
	}
	
	
</script>

</body>
</html>