<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>datesCategory</td>
		<td>dates</td>
		<td>isLunar</td>
		<td>addressBook_seq</td>
	</tr>
	<tr th:each ="list : ${list}">
		<td th:text = "${list.seq}"></td>
		<td th:text = "${list.isMain}"></td>
		<td th:text = "${list.datesCategory}"></td>
		<td><a th:href="@{/dates/datesXdmView(seq=${list.seq})}" th:text="${list.dates}"></a></td>
		<td th:text = "${list.isLunar}"></td>
		<td th:text = "${list.addressBook_seq}"></td>
	</tr>
</table>
</body>
</html>