<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/dates/datesXdmUpdt" method="post" id="form">
	<input type="hidden" name="seq" th:value="${item?.seq}">
	seq: <input type="text" name="seq" id="seq" maxlength="10" disabled="disabled" th:value="${item?.seq}">
	isMain: <input type="text" name="isMain" id="isMain" th:value="${item?.isMain}">
	datesCategory: <input type="text" name="datesCategory" id="datesCategory" th:value="${item?.datesCategory}">
	dates: <input type="text" name="dates" id="dates" placeholder="날짜 입력" th:value="${item?.dates}">
	isLunar: <input type="text" name="isLunar" id="isLunar" placeholder="음력=1" th:value="${item?.isLunar}">
	addressBook_seq: <input type="text" name="addressBook_seq" id="addressBook_seq" th:value="${item?.addressBook_seq}">
	<button type="button" id="btnsave">저장</button>
</form>
<script type="text/javascript">

	document.getElementById("btnsave").onclick = function() {
		document.getElementById("form").submit();
	}
	
</script>

</body>
</html>