<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>datesCategory</td>
		<td>dates</td>
		<td>isLunar</td>
		<td>addressBook_seq</td>		
	</tr>
	<tr>
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.isMain}"></td>
		<td th:text = "${item.datesCategory}"></td>
		<td th:text = "${item.dates}"></td>
		<td th:text = "${item.isLunar}"></td>
		<td th:text = "${item.addressBook_seq}"></td>
	</tr>
</table>
<a href="/dates/datesXdmList">목록</a>
<a th:href="@{/dates/datesXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/dates/datesXdmUele(seq=${item.seq})}" id="uelete">업제</a>
<a th:href="@{/dates/datesXdmMfom(seq=${item.seq})}">수정</a>
<script type="text/javascript">
document.getElementById("uelete").onclick = function() {
	if(confirm("real?")) {
		
	} else {
		return false
	}
}
document.getElementById("delete").onclick = function() {
	if(confirm("real?")) {
		
	} else {
		return false
	}
}
</script>
</body>
</html>