<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>isMain</td>
		<td>telCategory</td>
		<td>telNum</td>
		<td>addressBook_seq</td>
	</tr>
	<tr>
		<td th:text = "${item.seq}"></td>
		<td th:text = "${item.isMain}"></td>
		<td th:text = "${item.telCategory}"></td>
		<td th:text = "${item.telNum}"></td>
		<td th:text = "${item.addressBook_seq}"></td>
	</tr>
</table>
<a href="/telephone/telephoneXdmList">목록</a>
<a th:href="@{/telephone/telephoneXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/telephone/telephoneXdmUele(seq=${item.seq})}" id="uelete">업제</a>
<a th:href="@{/telephone/telephoneXdmMfom(seq=${item.seq})}">수정</a>
<script type="text/javascript">
document.getElementById("uelete").onclick = function(){
	if(confirm("Delete?")) {
		
	} else {
		return false
	}	
}
document.getElementById("delete").onclick = function(){
	if(confirm("Delete?")) {
		
	} else {
		return false
	}	
}
</script>
</body>
</html>