index.html
<p><a href="/address/addressXdmList">addressXdmList</a>
<p><a href="/addressbook/addressbookXdmList">addressbookXdmList</a>
<p><a href="/commune/communeXdmList">communeXdmList</a>
<p><a href="/company/companyXdmList">companyXdmList</a>
<p><a href="/dates/datesXdmList">datesXdmList</a>
<p><a href="/email/emailXdmList">emailXdmList</a>
<p><a href="/homepage/homepageXdmList">homepageXdmList</a>
<p><a href="/sns/snsXdmList">snsXdmList</a>
<p><a href="/telephone/telephoneXdmList">telephoneXdmList</a>
